<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Caboose-Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%- stylesheet_include('bootstrap.min') %>
    <!-- For responsive layouts, uncomment the next line -->
    <%- // stylesheet_include('bootstrap.min') %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
    <!-- Include your application's stylesheets here -->

    <!--[if lt IE 9]>
      <%- javascript_include('http://html5shim.googlecode.com/svn/trunk/html5.js') %>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">Caboose-Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="#">Overview</a>
              </li>
              <li class="">
                <a href="#">First Link</a>
              </li>
              <li class="">
                <a href="#">Second Link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <%- yield() %>

      <hr>

      <footer>
        <p>&copy; Caboose-Bootstrap 2012</p>
      </footer>
    </div>

    <%- javascript_include('bootstrap.min') %>
    <!-- Include your own javascripts here -->
  </body>
</html>
